@use 'global' as *;

.section-title {
  text-align: center;
}

.section-title__main {
  color: $font;
  font-family: $En-font-family;
  font-size: rem(32);
  line-height: 1.25;
  text-transform: capitalize;
  @include mq(md) {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__main::first-letter {
  color: $accent;
}

.section-title__sub {
  font-size: rem(12);
  color: $accent;
  line-height: 1.5;
  margin-top: rem(4);
  @include mq(md) {
    margin-top: rem(8);
  }
}